<h2>Déconnexion</h2>
<p>Êtes-vous sûr de vouloir vous déconnecter?</p>
<form asp-controller="Auth" asp-action="Deconnexion" method="post">
    <button type="submit" class="btn btn-danger">Déconnexion</button>
</form>
